# This file is part of convertdate.
# http://github.com/fitnr/convertdate
# Licensed under the MIT license:
# http://opensource.org/licenses/MIT
# Copyright (c) 2016, fitnr <fitnr@fakeisthenewreal>
build
dist
*.egg-info
*.egg
*.pyc
*.whl
.tox
.eggs
py35
__pycache__
*.sublime-project
.coverage
